
<!DOCTYPE html>
<html lang="en"></html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi página estilo MercadoLibre</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" type="text/css" href="/css/login.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/157adaf284.js" crossorigin="anonymous"></script>
</head>

<body>

  <header>
    <div class="contenedor-header">
    <div class="logo">
        <img src="/images/logo-mercado-liebre.svg">
    </div>
    <form action="/search" method="post" class="buscador">
        <input type="text" name="keywords" placeholder="Buscar productos, marcas y más" class="buscador-input">
        <button type="submit" class="buscador-boton"><i class="fas fa-search"></i></button>
    </form>
        <h2 class="buy-cuotas">
            <i class="fas fa-hand-holding-usd"></i>
            Comprá en cuotas y sin tarjeta de crédito
        </h2>
    </div>
<nav class="listas">
    <ul> 
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
    </ul>
    <ul>
        <li><a href="/register">Creá tu cuenta</a>
            <i class="fas fa-id-card"></i>
        </li>
        <li><a href="/login">Ingresá</a>
            <i class="fas fa-sign-in-alt"></i>
        </li>
        <li><a href="#">Mis compras</a>
            <i class="fas fa-shopping-basket"></i>
        </li>
    </ul>
</nav>
    <a href="#" class="hamburguer-boton">
        <i class="fas fa-bars"></i>
    </a>
</header>


      <form action="register.html" method="post" class="form-login">          
        <div class="formulario">
            <input type="text, email" name="usuario" placeholder="Nombre de usuario / Email" class="control" required>
        </div>
         
        <div class="formulario">
           <input type="password" name="contrasena" placeholder="Contraseña" class="control" required>
        </div>
        <div>
        <button type="submit" class="boton-formulario">Iniciar sesión</button>
        </div>
        <div>
         <p class="parrafo">¿Olvidaste tu contraseña? <a href="#">Recupérala aquí</a></p>
        </div>
      </form>



      <footer>
        <div>
        <div class="vistaFooter">
            <p class="fas fa-credit-card"></p>
            <h4>Pagá con tarjeta o efectivo</h4> 
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>   
        <div class="vistaFooter">
            <p class="fas fa-gift"></p>
            <h4>Envío gratis desde $ 2.500</h4> 
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>  
        <div class="vistaFooter">  
            <p class="fas fa-user-shield"></p>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div> 
        </div>
        <div class="copyright"> 
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
        </footer>
</body>
</html>