.form {
    padding-top: 45px;
    padding-left: 30vw;
    padding-right: 30vw;
    background-color: rgb(228, 223, 223);
    text-align: center;
  }
  .formulario {
    margin-bottom: 45px;
    text-align: left; 
    margin-left: 10%;
  }
  .formulario h3 {
    margin: -22.5px 0 22.5px;
    display: block;
    text-align: left;
  }
  .control{
    width: 88.5%;
    padding: 8px;
    border-radius: 5px;
    border: solid 1px var(--light-gray);
  }
  .radio{
    margin-left: 25px;
  }
  .radio input{
    margin-right: 25px;
  }
  .checkbox{
    margin-left: 25px
  }
  .checkbox input{
    margin: 0 25px 40px 0;
  }
  .boton-formulario:hover{
    background-color: #0022AA;
  }
  .boton-formulario{
    width: 80%;
    background-color: #1259c3;
    border: none;
    font-size: 20px;
    color:#ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: all 450ms;
  }